<nav style="margin-top: 10px; text-align: center;">
     
    <a href="{{ url_for('index') }}" style="color: grey; text-decoration: none;">Home</a> |
    <a href="{{ url_for('analogy') }}" style="color: grey; text-decoration: none;">Analogy</a> |
    <a href="{{ url_for('exchanges') }}" style="color: grey; text-decoration: none;">Exchanges</a> |
    <a href="{{ url_for('wallets') }}" style="color: grey; text-decoration: none;">Wallets</a> |
    <a href="{{ url_for('depin') }}" style="color: grey; text-decoration: none;">Earn Money</a> |
    <a href="{{ url_for('fidelity') }}" style="color: grey; text-decoration: none;">Fidelity</a> |
    <a href="{{ url_for('gold') }}" style="color: grey; text-decoration: none;">Gold</a> |
    <a href="{{ url_for('presale') }}" style="color: grey; text-decoration: none;">ICO</a> |
    <a href="{{ url_for('hard_wallets') }}" style="color: grey; text-decoration: none;">Hard Wallets</a> |
    <a href="{{ url_for('mining') }}" style="color: grey; text-decoration: none;">Mining</a> |
    <a href="{{ url_for('tokens') }}" style="color: grey; text-decoration: none;">Tokens</a>
</nav>
