<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore the analogy between crypto and stock trading. Learn how crypto is evolving and why it shares similarities with traditional stocks.">
    <meta name="keywords" content="crypto trading, stock trading, crypto vs stocks, investing in crypto, cryptocurrency history, stock market history">
    <title>Analogy between Crypto and Stocks trading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <div>
            <h1>Why Invest in Crypto?</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="main-container">
        <div class="content-section">
            <section>
                <h2>History of Stock Trading</h2>
                Look how the stock market evolved over the years, and the History repeats itself.
                <p>
                    <b>1792</b> - NY Stock Exchange was founded. 
                </p>
                <p>
                    <b>1867</b> - NYSE installed the first stock ticker. 
                        Enabled real-time price updates for traders, vastly improving market efficiency and communication.
                </p>
                <p>
                    <b>1920</b> - Retail investors flooded in. 
                        Stock trading became mainstream among the public
                </p>
                <p>
                    <b>1960</b> - It is a global financial hub. Massive institutional and public participation
                </p>
                <p>
                    <b>1990</b> - the 401(k) was the default retirement plan for most U.S. employers. 
                        Surge in retail investing.
                        It made millions of everyday Americans stock market participants—many for the first time.
                </p>
            </section>

            <section>
                <h2>History of Crypto Trading</h2>
                Let's compare how Crypto Trading is evolving.
                <p>
                    <b>2009</b> - Bitcoin was created. 
                        The first decentralized cryptocurrency, paving the way for the entire crypto market.
                </p>
                <p>
                    <b>2010</b> - First bitcoin purchase. 
                        On May 22th. A developer named Laszlo Hanyecz paid 10,000 BTC for two Papa John’s pizzas 
                        ($41 back then, or $1.2 billion dollars in today's prices).
                </p>
                <p>
                    <b>2012</b> - Coinbase was founded in the U.S. 
                        The first decentralized cryptocurrency, paving the way for the entire crypto market.
                </p>
                <p>
                    <b>2015</b> - Ethereum was launched. 
                        Introduced smart contracts and decentralized applications (dApps), expanding the use cases of blockchain technology.
                </p>
                <p>
                    <b>2017</b> - Initial Coin Offerings became a popular fundraising method for new projects, leading to a surge in new cryptocurrencies.
                </p>
                <p>
                    <b>2017</b> - Binance launched and quickly became the world’s largest exchange.
                </p>
                <p>
                    <b>2020</b> - Institutions entered the game.
                        Companies like Tesla, Square, and MicroStrategy added Bitcoin to balance sheets. Crypto ETFs and custodians emerged.
                </p>
                <p>
                    <b>2024</b> - Crypto is approaching mainstream adoption.
                    Spot Bitcoin ETFs were approved. 401(k) providers began offering crypto exposure. Regulation, compliance, and Wall Street interest surged.
                </p>
            </section>

            <section>
                <h2>The Era of Democratized Stock Trading (1980 - 2000)</h2>
                <p>
                    This particular period is a spectacular illustration of what happens when stock trading goes mainstream.
                     Stocks surged for two decades largely because owning stocks became the norm, 
                     and trading became accessible to everyone—not just brokers. 
                     Investing transitioned from a niche activity among elite traders 
                        to a common strategy for everyday households.
                </p>
                <p>
                    This period represents a compound annual growth rate (CAGR) of approximately 13.5% over twenty years.
                </p>
                <img src="{{ url_for('static', filename='images/graphs/graph_analogy_spy1980.webp') }}" alt="Stock Market Growth (1980-2000)" style="max-width: 100%; height: auto; margin-top: 20px;">
            
            <p>
                You can see how P/E ratios expanded significantly, especially during the 1990s, 
                indicating that valuation multiples were rising—not just earnings. 
                In simple terms, it wasn’t earnings driving the growth, 
                but the increasing number of participants entering the market and buying stocks. 
                The conclusion is simple: if you enter the market before it goes mainstream, you can more easily multiply your money.
            </p>
                <img src="{{ url_for('static', filename='images/graphs/graph_analogy_pe1980.webp') }}" alt="Stock Market Growth (1980-2000)" style="max-width: 100%; height: auto; margin-top: 20px;">
               
           
            </section>

            <section>
                <h2>The Era of Democratized Crypto Trading (2024 - 2032)</h2>
                <p>
                    Here is why everyone thinks that the same thing is happening with crypto
                        (note, below are the facts that you can easily verify yourself):
                    <ul>
                        <li>The President of the United States has decided to stockpile crypto in the National Reserve.</li>
                        <li>The SEC has withdrawn and ended its lawsuits against many major crypto players.</li>
                        <li>BTC, ETH, and SOL are now available as ETFs and can be purchased through regular brokerage accounts.</li>
                        <li>Crypto is available through Fidelity Investments.</li>
                        <li>Crypto is available in 401(k) plans.</li>
                    </ul>
                </p>
                <p>
                    It’s typical for early adopters to be rewarded generously, as long as you recognize the potential in all of it.
                </p>
                <p>
                    I'm not making any predictions here, and I leave it to you to draw your own conclusions.
                </p>
            </section>

            <section>
                <h2>Analogy between Cryptos and Stocks</h2>
                <p>
                    We can say that the stock market is a well-established and regulated financial system,
                    while the cryptocurrency market is relatively new and still evolving.
                    But the real problem is that most people don’t think of crypto as an investment—
                    as something very similar to stocks.
                    They think stocks represent factories, goods, buildings, people, and jobs,
                    while crypto is just a few bytes on a computer and a hash.
                    Below, I try to bust this myth and show you that crypto has many commonalities with stocks.
                </p>
                <table class="analogy-table">
                    <thead>
                        <tr class="analogy-tr">
                            <th class="analogy-th">Feature</th>
                            <th class="analogy-th">Applicable to Crypto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Market Cap</td>
                            <td class="analogy-td">Market capitalization applies to stocks, i.e. Microsoft (MSFT) market cap is $2.7T.
                                It also applies to the stock market as a whole, i.e. the NYSE has a market cap of $30T.
                                The same applies to crypto, i.e. Bitcoin (BTC) market cap is $1.6T.
                                And the same applies to the crypto market as a whole, i.e. the total crypto market cap is $2.7T.
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Outstanding Number of Shares</td>
                            <td class="analogy-td">
                                In crypto, this translates to Limited Supply and Circulated Supply.
                                For example, there are only 21 million BTC, and 19 million (out of those) are already mined.

                                This makes market cap meaningful, and owning a certain number of tokens gives you ownership 
                                    of a proportional share of the total outstanding supply of that cryptocurrency.
                                
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Price</td>
                            <td class="analogy-td">
                                Crypto currencies are traded on exchanges, over the counter, there are bids with ask price, offer price and spread.
                                Prices are changing every second, you will see charts for all different periods.
                                Most cryptocurrencies that are traded on exchanges are liquid enough, and you can buy and sell them at any time.
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Trading Volume</td>
                            <td class="analogy-td">
                                Crypto Exchanges also measure the trading volume and you can find these metrics posted. 
                                For example, XRP with  122B market cap has 24-hour trading volume of 3B.
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">RSI</td>
                            <td class="analogy-td">
                                The Relative Strength Index (RSI) is used to identify overbought or oversold conditions of cryptocurrencies too.
                                Here is RSI of Cronos (CRO)
                                <br>
                                <img src="{{ url_for('static', filename='images/graphs/graph_analogy_cro_rsi.webp') }}" alt="RSI of Cronos (CRO)" style="max-width: 100%; height: auto; margin-top: 20px;">
                                
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">BETA</td>
                            <td class="analogy-td">Yes, you own tokens similar to owning shares.</td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Penny Stocks</td>
                            <td class="analogy-td">Yes, you own tokens similar to owning shares.

                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Inflation</td>
                            <td class="analogy-td">In crypto, Inflation also happens, while it is mostly orchestrated by design.
                                Looking at Solana (SOL), SOL has ongoing inflation to reward validators.
                                Initial total supply was 500 million SOL. 
                                Inflation starts at ~8% annual inflation rate and decreases by 15% each year until it reaches 1.5% annual inflation.
                                As of right now the circulating supply: ~440–450 million SOL.
                                Total supply: ~560–570 million SOL (grows slowly due to inflation).
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Central Bank Authority</td>
                            <td class="analogy-td">
                                In the traditional world of money, we think of a central bank as an authority that can print money.
                                In the crypto world, the contract is such an authority that can create new tokens, while the algorithm is well known in advance and visible to everyone.
                                For example, Ethereum (ETH) has a monetary policy that dictates new token creation for validators, while a portion of transaction fees (the base fee) paid by users is burned.
                                In many cases, more ETH is burned than created—making ETH potentially deflationary.
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Interest Rate</td>
                            <td class="analogy-td">
                                The FED sets the interest rate for the US dollar, and it impacts everything—including stock prices.
                                In crypto, the interest rate is set by the market and it is called APR% (Annual Percentage Rate).
                                For example, if you stake your ETH, you can earn 5% APR% on it.
                                If you stake your SOL, you can earn 6% APR% on it.
                            </td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Options</td>
                            <td class="analogy-td">Yes, you own tokens similar to owning shares.</td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Ownership</td>
                            <td class="analogy-td">Yes, you own tokens similar to owning shares.</td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Ownership</td>
                            <td class="analogy-td">Yes, you own tokens similar to owning shares.</td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Dividends</td>
                            <td class="analogy-td">Yes, through staking rewards or yield farming.</td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Market Volatility</td>
                            <td class="analogy-td">Yes, both markets experience price fluctuations.</td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Regulation</td>
                            <td class="analogy-td">Partially, with increasing regulatory oversight.</td>
                        </tr>
                        <tr class="analogy-tr">
                            <td class="analogy-td">Liquidity</td>
                            <td class="analogy-td">Yes, crypto markets are highly liquid.</td>
                        </tr>
                    </tbody>
                </table>
            </section>

        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
