<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referral Codes Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo" style="height: 60px;">
        </a>
        <div>
            <h1>DePIN - Crypto Projects to Earn Money</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="card-container">
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_helium.jfif') }}" alt="Helium Mobile">
            <h2>Helium Mobile</h2>
            <p>Join the decentralized wireless network revolution</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="helium.html" class="referral-code" target="_blank">MQZ210N</a>
                    <button class="copy-btn" onclick="copyToClipboard('MQZ210N')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_dimo.gif') }}" alt="DIMO Network">
            <h2>DIMO</h2>
            <p>Connect your vehicle to the Web3 ecosystem</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://onelink.to/dimo" class="referral-code" target="_blank">WQ6X31</a>
                    <button class="copy-btn" onclick="copyToClipboard('WQ6X31')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_aethir.webp') }}" alt="Aethir">
            <h2>Aethir</h2>
            <p>You operate a GPU-optimized device and other companies use its compute power and pay you. 
                You pay device for $1,400, you buy tokens for $60 once (collateral deposit),
                    then they pay you roughly $1000 per year (using March'25 prices) in <A href="https://coincodex.com/crypto/aethir/">$ATH</A>.
            </p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://heliumdeploy.com/products/aethir-edge" class="referral-code" target="_blank">my wallet address</a>
                    <button class="copy-btn" onclick="copyToClipboard('my wallet address')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_mapmetrics2.webp') }}" alt="MapMetrics">
            <h2>MapMetrics</h2>
            <p>Earn rewards by mapping your surroundings</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://apps.apple.com/us/app/mapmetrics-web3-offline-navi/id1634640103" class="referral-code" target="_blank">Sta184</a>
                    <button class="copy-btn" onclick="copyToClipboard('Sta184')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_xforge.jpg') }}" alt="XForge Phone">
            <h2>XForge Phone</h2>
            <p>Web3-native smartphone for crypto rewards</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://xprotocol.org" class="referral-code" target="_blank">Stasforge25</a>
                    <button class="copy-btn" onclick="copyToClipboard('Stasforge25')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_nubila.webp') }}" alt="Nubila">
            <h2>Nubila</h2>
            <p>Earn rewards by deploying a weather station and contributing to decentralized weather data collection.</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://nubila.network" class="referral-code" target="_blank">no code</a>
                    <button class="copy-btn" onclick="copyToClipboard('no code')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_geodnet2.jpg') }}" alt="Geodnet">
            <h2>Geodnet</h2>
            <p>Participate in the decentralized geospatial network by deploying a Geodnet miner and earning rewards.</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://geodnet.com" class="referral-code" target="_blank">GEO98765</a>
                    <button class="copy-btn" onclick="copyToClipboard('GEO98765')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_silencio.avif') }}" alt="Silencio">
            <h2>Silencio</h2>
            <p>Noise-canceling technology for peaceful environments</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://silencio.go.link/koJKX" class="referral-code" target="_blank">koJKX</a>
                    <button class="copy-btn" onclick="copyToClipboard('koJKX')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_wifimap.png') }}" alt="WiFi Map">
            <h2>WiFi Map</h2>
            <p>Earn rewards by sharing and using WiFi networks</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://wifimap.io/get" class="referral-code" target="_blank">B3CE5CS</a>
                    <button class="copy-btn" onclick="copyToClipboard('B3CE5CS')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_roam.webp') }}" alt="Roam">
            <h2>Roam</h2>
            <p>Noise-canceling technology for peaceful environments</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://www.weroam.xyz/" class="referral-code" target="_blank">71777559</a>
                    <button class="copy-btn" onclick="copyToClipboard('71777559')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_hivello.webp') }}" alt="Hivello">
            <h2>Hivello</h2>
            <p>You can run an agent program on your computer and earn for sharing your power. 
                They partner with a dozen of networks and you may get different coins for different networks 
                    (namely AIOZ, Autonomi, Filecoin, Golem, Livepeer, Mysterium, Sentinel, and etc.).
            </p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://dashboard.hivello.com/referrals?code=U3WH682333" class="referral-code" target="_blank">U3WH682333</a>
                    <button class="copy-btn" onclick="copyToClipboard('U3WH682333')">Copy</button>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images/project_coin.jpg') }}" alt="Coin App">
            <h2>Coin App</h2>
            <p>Earn cryptocurrency through in a gaming app.</p>
            <div class="referral-box">
                <div class="referral-code-box">
                    <a href="https://coin.onelink.me/ePJg/yj27s5rb" class="referral-code" target="_blank">ePJg/yj27s5rb</a>
                    <button class="copy-btn" onclick="copyToClipboard('ePJg/yj27s5rb')">Copy</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
    <script>
        function copyToClipboard(code) {
            navigator.clipboard.writeText(code).then(() => {
                alert('Referral code copied: ' + code);
            });
        }
    </script>
</body>
</html>