<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Referral Codes Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo" style="height: 60px;">
        </a>
        <div>
            <h1>DePIN - Crypto Projects to Earn Money</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="card-container">
        <div class="card" id="dimo">
            <a href="https://onelink.to/dimo" target="_blank">
                <img src="{{ url_for('static', filename='images/project_dimo.gif') }}" alt="DIMO Network">
                <h2>DIMO</h2>
                <p>
                    I have a DIMO device and I earn $DIMO tokens for sharing my car data.
                    This device is connected to the OBD2 port of my car and collects information about my car’s performance.
                    You might earn $500 to $1,000 per year, depending on the token price—and if you have a Tesla, you may earn even more.
                    It’s not cash that you receive; you earn tokens, and their value can grow over time.
                    I was amazed to see customer services actually replying and helping.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">WQ6X31</span>
                    <button class="copy-btn" onclick="copyToClipboard('WQ6X31', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="soarchain">
            <a href="https://soarchain.io" target="_blank">
                <img src="{{ url_for('static', filename='images/project_soarchain.webp') }}" alt="Soarchain">
                <h2>Soarchain</h2>
                <p>
                    By sharing data, you can earn $SOAR tokens. 
                    It was a pain to install the device, and bluetoth is still not working.
                    Also they do not allow more than one device per person.
                    Let's see in a year, maybe they will wake up and fix the approach.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">no code</span>
                    <button class="copy-btn" onclick="copyToClipboard('no code', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="aethir">
            <a href="https://heliumdeploy.com/products/aethir-edge" target="_blank">
                <img src="{{ url_for('static', filename='images/project_aethir.webp') }}" alt="Aethir">
                <h2>Aethir</h2>
                <p>You operate a GPU-optimized device, and other companies use its compute power and pay you for it.
                    You purchase the device for $1,400 and make a one-time token deposit of $60 as collateral.
                    In return, you earn roughly $1,000 per year in rewards (based on March 2025 token prices) in <A href="https://coincodex.com/crypto/aethir/">$ATH</A>.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">my wallet address</span>
                    <button class="copy-btn" onclick="copyToClipboard('my wallet address', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="mapmetrics">
            <a href="https://apps.apple.com/us/app/mapmetrics-web3-offline-navi/id1634640103" target="_blank">
                <img src="{{ url_for('static', filename='images/project_mapmetrics2.webp') }}" alt="MapMetrics">
                <h2>MapMetrics</h2>
                <p>
                    MapMetrics is a decentralized navigation app that rewards users for sharing their location data to help build a precise and community-driven map.
                    You can earn $MMT tokens by using the app while driving or walking.
                    You don’t need to keep the app open—just click “Connect” once, and it will run in the background.
                    I can use this app at the same time as DIMO.
                    Typically, you earn around 150 tokens per day, although the token price may vary.

                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">Sta184</span>
                    <button class="copy-btn" onclick="copyToClipboard('Sta184', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="helium-mobile">
            <a href="https://hellohelium.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/project_helium.jfif') }}" alt="Helium Mobile">
                <h2>Helium Mobile</h2>
                <p>
                    Helium Mobile is a new mobile network that leverages community wifi routers to offload mobile networks.
                    You can earn $HNT by sharing your wifi router with the Helium network, and they sell bandwith to mobile operators like AT&T and Verizon.
                    Don't be confused - there is Helium Mobile (a mobile network) and Helium Deploy (a decentralized network for IoT devices).
                    You can start with getting a free SIM card and free phone plan. 
                </p>
                <p>
                    <A href="https://heliumdeploy.com/products/helium-mobile-wifi-hotspot?sca_ref=8720682.N8LNK54kj9&sca_source=stasclub">
                        <B>Buy on HeliumDeploy with code STAS10 (10% off).</B>
                    </A>
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">MQZ210N</span>
                    <button class="copy-btn" onclick="copyToClipboard('MQZ210N', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="xforge-phone">
            <a href="https://xprotocol.org" target="_blank">
                <img src="{{ url_for('static', filename='images/project_xforge.jpg') }}" alt="XForge Phone">
                <h2>XForge Phone</h2>
                <p>
                    You can run a Xardian Node on your phone and earn $XFORGE tokens.
                    The XForge and Xardian ecosystem uses a native utility token—typically referred to as $XARD
                    (or a similarly branded token)—to power its decentralized infrastructure and reward users.
                    You can earn tokens in several ways: by running a Xardian Node, 
                    which provides compute or network services; by actively using an XForge Phone, 
                    which contributes data, interacts with dApps, or serves as a control point for nodes;
                    and by participating in staking, governance, or referrals. 
                    Users are rewarded based on the value and reliability of their contributions to the network, 
                    whether it's bandwidth, compute cycles, uptime, or trusted participation.


                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">Stasforge25</span>
                    <button class="copy-btn" onclick="copyToClipboard('Stasforge25', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="nubila">
            <a href="https://heliumdeploy.com/products/nubila-marco?sca_ref=8720682.N8LNK54kj9&sca_source=stasclub" target="_blank">
                <img src="{{ url_for('static', filename='images/project_nubila.webp') }}" alt="Nubila">
                <h2>Nubila</h2>
                <p>
                    Earn rewards by deploying a weather station and contributing to decentralized weather data collection.
                    You need to install a weather station, it is powered by solar energy,   
                        and it is connected through WiFi.
                    You can earn $NUBI tokens by sharing your weather data.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">STAS10 (10% OFF)</span>
                    <button class="copy-btn" onclick="copyToClipboard('STAS10', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="skyx">
            <a href="https://heliumdeploy.com/products/skyx-sky-100?sca_ref=8720682.N8LNK54kj9&sca_source=stasclub" target="_blank">
                <img src="{{ url_for('static', filename='images/project_skyx.png') }}" alt="SkyX">
                <h2>SkyX</h2>
                <p>
                    SkyX is a decentralized drone delivery network. By deploying a SkyX drone station, you can earn $SKYX tokens for facilitating drone deliveries in your area. 
                    The system is designed to optimize delivery routes and reduce carbon emissions, making it both profitable and eco-friendly.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">STAS10 (10% OFF)</span>
                    <button class="copy-btn" onclick="copyToClipboard('STAS10', event)">Copy</button>
                </div>
            </div>
        </div> 
        <div class="card" id="weatherxm">
            <a href="https://heliumdeploy.com/products/weatherxm-d1-wifi-weather-station-wb1200?sca_ref=8720682.N8LNK54kj9&sca_source=stasclub" target="_blank">
                <img src="{{ url_for('static', filename='images/project_WB1200_WeatherXM.webp') }}" alt="WeatherXM">
                <h2>WeatherXM</h2>
                <p>
                    WeatherXM is a decentralized weather station network. By deploying a WeatherXM station, you can earn $WXM tokens for contributing accurate weather data to the network. 
                    This helps improve weather forecasting and supports various industries reliant on precise weather information.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">STAS10 (10% OFF)</span>
                    <button class="copy-btn" onclick="copyToClipboard('STAS10', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="geodnet">
            <a href="https://geodnet.com" target="_blank">
                <img src="{{ url_for('static', filename='images/project_geodnet2.jpg') }}" alt="Geodnet">
                <h2>Geodnet</h2>
                <p>
                    Participate in the decentralized geospatial network by deploying a Geodnet miner and earning rewards.


                </p>
                <p>
                    <A href="https://heliumdeploy.com/products/geodnet-mobilecm-triple-band?sca_ref=8720682.N8LNK54kj9&sca_source=stasclub">
                        <B>Buy on HeliumDeploy with code STAS10.</B>
                    </A>
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">GEO98765</span>
                    <button class="copy-btn" onclick="copyToClipboard('GEO98765', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="silencio">
            <a href="https://silencio.go.link/koJKX" target="_blank">
                <img src="{{ url_for('static', filename='images/project_silencio.avif') }}" alt="Silencio">
                <h2>Silencio</h2>
                <p>
                    This is just an iPhone app, and yo uneed to use it at least once a day.
                    You can measure surrounding noise levels when you walk, or measure noise levels by check-in. 
                    They send tokens at the end of month, around 3000 $SLC tokens.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">koJKX</span>
                    <button class="copy-btn" onclick="copyToClipboard('koJKX', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="wifi-map">
            <a href="https://wifimap.io/get" target="_blank">
                <img src="{{ url_for('static', filename='images/project_wifimap.png') }}" alt="WiFi Map">
                <h2>WiFi Map</h2>
                <p>
                    Another iPhone app. When you go somewhere with a public Wifi, 
                        you can share its password or location and get rewards ($WIFI tokens).
                    You can also share location of free restrooms and drinking fountains.
                    The app itself is useful, and you can use it to find free WiFi, restrooms, and drinking fountains, ATM and restraunts.
                    It may become the future Yelp!
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">B3CE5CS</span>
                    <button class="copy-btn" onclick="copyToClipboard('B3CE5CS', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="roam">
            <a href="https://www.weroam.xyz/" target="_blank">
                <img src="{{ url_for('static', filename='images/project_roam2.png') }}" alt="Roam">
                <h2>Roam</h2>
                <p>
                    Get 150 Roam Points daily, which convert into $ROAM tokens.
                    Miner Pool is ONLY accessible if you own a real Roam Miner device (Rainier MAX60, Baker MAX30, etc).
                    It gives you the best conversion efficiency compared to casual app users.
                    That's why having a MAX60 (and mining 150 points/day) is much more profitable compared to casual users who just do app check-ins.
                    Assuming 1 $ROAM ≈ $0.2856 USD, your estimated earnings are around $1 per day.

                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">71777559</span>
                    <button class="copy-btn" onclick="copyToClipboard('71777559', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="wayru">
            <a href="https://heliumdeploy.com/products/wayru-apocalypse?sca_ref=8720682.N8LNK54kj9&sca_source=stasclub" target="_blank">
                <img src="{{ url_for('static', filename='images/project_wayru.jfif') }}" alt="Wayru">
                <h2>Wayru</h2>
                <p>
                    You earn around 250 $WAYRU tokens per day for operating this router the makes a guest hotspot.
                    Buy directly from them, it is not available on HeliumDeploy.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">STAS10 (10% OFF)</span>
                    <button class="copy-btn" onclick="copyToClipboard('STAS10', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="quake-core">
            <a href="https://heliumdeploy.com/products/quake-core?sca_ref=8720682.N8LNK54kj9&sca_source=stasclub" target="_blank">
                <img src="{{ url_for('static', filename='images/project_quakecore_white.jfif') }}" alt="Quake Core">
                <h2>Quake Core</h2>
                <p>
                    The Quake Core is a cutting-edge detection device designed to monitor seismic activity in real time, providing instant warnings for earthquakes, tsunamis, and other natural disasters. Mounted on walls or ceilings, it uses advanced sensors to detect ground vibrations and alert users immediately, enhancing safety and disaster preparedness.

                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">STAS10 (10% OFF)</span>
                    <button class="copy-btn" onclick="copyToClipboard('STAS10', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="hivello">
            <a href="https://dashboard.hivello.com/referrals?code=U3WH682333" target="_blank">
                <img src="{{ url_for('static', filename='images/project_hivello.webp') }}" alt="Hivello">
                <h2>Hivello</h2>
                <p>You can run an agent program on your computer and earn for sharing your power. 
                    They partner with a dozen of networks and you may get different coins for different networks 
                        (namely AIOZ, Autonomi, Filecoin, Golem, Livepeer, Mysterium, Sentinel, and etc.).
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">U3WH682333</span>
                    <button class="copy-btn" onclick="copyToClipboard('U3WH682333', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="coin-app">
            <a href="https://coin.onelink.me/ePJg/yj27s5rb" target="_blank">
                <img src="{{ url_for('static', filename='images/project_coin.jpg') }}" alt="Coin App">
                <h2>Coin App</h2>
                <p>
                    This is the worst DePIN app I have ever seen.
                    You need to keep clicking and constantly be in the app.
                    This is a full time job!

                    Perhaps, it is a good fit for ADD kids if you want to keep them busy.
                    If you don't click all day, and if you don't pay them monthly $35 subscription, 
                    you will not earn anything. 

                    You can use my referral code to get the app, but I don't recommend it, it's horrible.
                    Some people estimated that if you buy $XYO token for $35 on Coinbase, 
                        you will earn more than using the app.

                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">ePJg/yj27s5rb</span>
                    <button class="copy-btn" onclick="copyToClipboard('ePJg/yj27s5rb', event)">Copy</button>
                </div>
            </div>
        </div>
        <div class="card" id="brave-browser">
            <a href="https://brave.com/" target="_blank">
                <img src="{{ url_for('static', filename='images/project_brave_browser.jpg') }}" alt="Brave Browser">
                <h2>Brave Browser</h2>
                <p>
                    Brave Browser is a privacy-focused web browser that rewards users with Basic Attention Tokens ($BAT) for viewing privacy-respecting ads. 
                    You can earn tokens simply by browsing the web as you normally would. 
                    The browser also blocks trackers and invasive ads, ensuring a faster and more secure browsing experience.
                </p>
            </a>
            <div class="referral-box">
                <div class="referral-code-box">
                    <span class="referral-code">no code</span>
                    <button class="copy-btn" onclick="copyToClipboard('no code', event)">Copy</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
    <script>
        function copyToClipboard(code, event) {
            event.stopPropagation(); // Prevent the click event from propagating to the <a> tag
            navigator.clipboard.writeText(code).then(() => {
                alert('Referral code copied: ' + code);
            });
        }
    </script>
</body>
</html>