<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about Fidelity Investments and how you can invest in cryptocurrencies like Bitcoin and Ethereum.">
    <meta name="keywords" content="Fidelity Investments, crypto investing, Bitcoin, Ethereum, Fidelity crypto">
    <title>Fidelity Investments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <style>
        .fidelity-th:nth-child(2), .fidelity-td:nth-child(2) {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <div>
            <h1>Fidelity Investments</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="main-container">
        <div class="content-section">
            <section>
                <h2>Investing in Crypto with Fidelity</h2>
                <p>
                    Fidelity Investments is arguably the most advanced trading platform, consistently outperforming its competitors. 
                    It’s very likely that you already have an account with Fidelity, 
                    so we should not underestimate the influence a single custodian can have on the entire market. 
                    Fidelity is a leading financial services company offering a broad range of investment options—including cryptocurrencies. 
                    With Fidelity, you can now invest in Bitcoin and Ethereum directly through their platform, 
                    making it easier to diversify your portfolio with digital assets. I am not affiliated with Fidelity Investments, 
                    but I truly like their platform and I want to share my experience with you.

                </p>
            </section>

            <section>
                <h2>Why Fidelity Account is important</h2>
                <p>
                    Many people have fear of crypto, they don't want that complexity, to deal with wallets, seed phrases, private keys, addresses.
                    We constantly hear about scams, hacks, and people losing billions when they lost crypto wallet key.
                    Normal people understand the potential of bitcoin and simply want to buy some of it.
                    Almost everyone has a Fidelity account, and you got a super convenient way to invest in crypto.
                    And not only you, but hundreds of millions of people now.

                </p>            
            </section>

            <section>
                <h2>Fidelity Crypto</h2>
                <p>
                    Here is how you can invest in Bitcoin and Ethereum through Fidelity:
                    <ul>
                        <li>You need to have a reguylar brokerage account first. It will be used as a parent for the crypto account</li>
                        <li>Then you need to open a new account and choose "Fidelity Crypto" as the type of account </li>
                        <li>You will not get any private keys, wallets or seed phrases. They will custody all your assets by themselves. </li>
                        <li>Currently, you can only trade BTC, ETH and LTC. </li>
                        <li>You cannot deposit or withdraw crypto, but you can sell it to cash and withdraw cash</li>
                    </ul>
                </p>
                <p>
                    <a href="https://fidelity.app.link/e/JmbqAoD3eSb"><b>Open account in Fidelity: https://fidelity.app.link/e/JmbqAoD3eSb</b></a>
                </p>
            </section>

            <section>
                <h2>Investment Options with Direct Crypto Exposure</h2>
                <p>
                    These are ETFs and trusts that provide direct exposure to cryptocurrencies:
                </p>
                <table class="fidelity-table">
                    <thead>
                        <tr>
                            <th class="fidelity-th">Ticker</th>
                            <th class="fidelity-th">Product Name</th>
                            <th class="fidelity-th">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fidelity-td">BITO</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=BITO" target="_blank">
                                    ProShares Bitcoin Strategy ETF
                                </a>
                            </td>
                            <td class="fidelity-td">An ETF that provides exposure to Bitcoin futures contracts.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">FBTC</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=FBTC" target="_blank">
                                    Fidelity Bitcoin ETF
                                </a>
                            </td>
                            <td class="fidelity-td">An ETF that provides direct exposure to Bitcoin.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">ETHE</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=ETHE" target="_blank">
                                    Grayscale Ethereum Trust
                                </a>
                            </td>
                            <td class="fidelity-td">A trust that provides exposure to Ethereum ($ETH) without direct ownership.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">GSOL</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=GSOL" target="_blank">
                                    Grayscale Solana Trust
                                </a>
                            </td>
                            <td class="fidelity-td">A trust that provides exposure to Solana ($SOL) without direct ownership.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">BITW</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=BITW" target="_blank">
                                    Bitwise 10 Crypto Index Fund
                                </a>
                            </td>
                            <td class="fidelity-td">
                                The Bitwise 10 Crypto Index Fund (BITW) is a publicly traded fund that provides diversified exposure to the top 10 cryptocurrencies by market capitalization, including Bitcoin (BTC), Ethereum (ETH), Solana (SOL), XRP, Cardano (ADA), Avalanche (AVAX), Polkadot (DOT), Chainlink (LINK), Polygon (MATIC), and Litecoin (LTC).
                            </td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">MSTR</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=MSTR" target="_blank">
                                    MicroStrategy Inc.
                                </a>
                            </td>
                            <td class="fidelity-td">
                                MicroStrategy is one of the largest corporate holders of Bitcoin.
                                The company has adopted Bitcoin as its primary treasury reserve asset and continues to acquire significant amounts of it. Its stock price is closely tied to Bitcoin’s performance.
                                Although it is a company stock—not a crypto ETF or trust—its price is so highly correlated with Bitcoin (BTC) that it can be considered a proxy for Bitcoin exposure.

                            </td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">MSTX</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=MSTX" target="_blank">
                                    Defiance Daily Target 2X Long Mstr ETF
                                </a>
                            </td>
                            <td class="fidelity-td">A company heavily invested in Bitcoin as part of its corporate strategy.
This company buys millions of dollars’ worth of Bitcoin, so the price of its stock is closely correlated with the price of Bitcoin,
while investors hope that the company manages its timing and execution well—buying and selling at the right moments.
It presents a relatively safe and regulated way to gain exposure to Bitcoin through traditional equity markets.

                            </td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">LTCN</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=LTCN" target="_blank">
                                    Grayscale Litecoin Trust
                                </a>
                            </td>
                            <td class="fidelity-td">A trust that provides exposure to Litecoin ($LTC) without direct ownership.</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section>
                <h2>Normal Companies with Crypto Earnings</h2>
                <p>
                    These are companies that generate earnings from cryptocurrency-related activities:
                </p>
                <table class="fidelity-table">
                    <thead>
                        <tr>
                            <th class="fidelity-th">Ticker</th>
                            <th class="fidelity-th">Product Name</th>
                            <th class="fidelity-th">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fidelity-td">COIN</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=COIN" target="_blank">
                                    Coinbase Global Inc.
                                </a>
                            </td>
                            <td class="fidelity-td">A publicly traded company that operates a cryptocurrency exchange platform.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">HOOD</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=HOOD" target="_blank">
                                    Robinhood Markets Inc.
                                </a>
                            </td>
                            <td class="fidelity-td">
                                A financial services platform offering commission-free trading, including cryptocurrencies.
                                Robinhood shows up as a payment processor for crypto transactions along with MoonPay and those companies.
                                These payment processors charge very big fees from every transaction (that's why I almost do not use them and use exchanges 99% of time).
                                
                            </td>
                        </tr> 
                        <tr>
                            <td class="fidelity-td">BKCH</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=BKCH" target="_blank">
                                    Global X Blockchain ETF
                                </a>
                            </td>
                            <td class="fidelity-td">An ETF focusing on companies involved in blockchain technology.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">BLOK</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=BLOK" target="_blank">
                                    Amplify Transformational Data Sharing ETF
                                </a>
                            </td>
                            <td class="fidelity-td">An ETF focusing on companies involved in blockchain technology and data sharing.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">XYZ</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=XYZ" target="_blank">
                                    XYZ Blockchain Solutions
                                </a>
                            </td>
                            <td class="fidelity-td">A company specializing in blockchain-based enterprise solutions and services.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">PYPL</td>
                            <td class="fidelity-td">
                                <a href="https://digital.fidelity.com/prgw/digital/research/quote/dashboard/summary?symbol=PYPL" target="_blank">
                                    PayPal Holdings Inc.
                                </a>
                            </td>
                            <td class="fidelity-td">
                                Did you notice that PayPal and their Venmo app now support crypto?
                                Even more, some of wallets offer purchasing cryptos using PayPal as a payment method.
                                Here is what we need to know: for each transactio nin crypto, they charge very big fees, which could be 2% or 3% sometimes.
                                If they process i.e. $100B, can you  imagine how much money they make?
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
