<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about Fidelity Investments and how you can invest in cryptocurrencies like Bitcoin and Ethereum.">
    <meta name="keywords" content="Fidelity Investments, crypto investing, Bitcoin, Ethereum, Fidelity crypto">
    <title>Fidelity Investments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <div>
            <h1>Fidelity Investments</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="main-container">
        <div class="content-section">
            <section>
                <h2>Investing in Crypto with Fidelity</h2>
                <p>
                    Fidelity Investments is arguably the most advanced trading platform, consistently outperforming its competitors. 
                    It’s very likely that you already have an account with Fidelity, 
                    so we should not underestimate the influence a single custodian can have on the entire market. 
                    Fidelity is a leading financial services company offering a broad range of investment options—including cryptocurrencies. 
                    With Fidelity, you can now invest in Bitcoin and Ethereum directly through their platform, 
                    making it easier to diversify your portfolio with digital assets. I am not affiliated with Fidelity Investments, 
                    but I truly like their platform and I want to share my experience with you.

                </p>
            </section>

            <section>
                <h2>Why Fidelity Account is important</h2>
                <p>
                    Many people have fear of crypto, they don't want that complexity, to deal with wallets, seed phrases, private keys, addresses.
                    We constantly hear about scams, hacks, and people losing billions when they lost crypto wallet key.
                    Normal people understand the potential of bitcoin and simply want to buy some of it.
                    Almost everyone has a Fidelity account, and you got a super convenient way to invest in crypto.
                    And not only you, but hundreds of millions of people now.

                </p>            
            </section>

            <section>
                <h2>Fidelity Crypto</h2>
                <p>
                    Here is how you can invest in Bitcoin and Ethereum through Fidelity:
                    <ul>
                        <li>You need to have a reguylar brokerage account first. It will be used as a parent for the crypto account</li>
                        <li>Then you need to open a new account and choose "Fidelity Crypto" as the type of account </li>
                        <li>You will not get any private keys, wallets or seed phrases. They will custody all your assets by themselves. </li>
                        <li>Currently, you can only trade BTC, ETH and LTC. </li>
                        <li>You cannot deposit or withdraw crypto, but you can sell it to cash and withdraw cash</li>
                    </ul>
                </p>
            </section>

            <section>
                <h2>Other investment options</h2>
                <p>
                    These are regular ETFs that you can trade through your brokerage account:
                </p>
                <table class="fidelity-table">
                    <thead>
                        <tr>
                            <th class="fidelity-th">Ticker</th>
                            <th class="fidelity-th">Product Name</th>
                            <th class="fidelity-th">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fidelity-td">BITO</td>
                            <td class="fidelity-td">ProShares Bitcoin Strategy ETF</td>
                            <td class="fidelity-td">An ETF that provides exposure to Bitcoin futures contracts.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">ETHE</td>
                            <td class="fidelity-td">Grayscale Ethereum Trust</td>
                            <td class="fidelity-td">A trust that provides exposure to Ethereum without direct ownership.</td>
                        </tr>
                        <tr>
                            <td class="fidelity-td">GBTC</td>
                            <td class="fidelity-td">Grayscale Bitcoin Trust</td>
                            <td class="fidelity-td">A trust that provides exposure to Bitcoin without direct ownership.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
