<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about investing in gold and silver and their roles in diversifying your portfolio.">
    <meta name="keywords" content="gold investing, silver investing, portfolio diversification, gold market, silver market">
    <title>Gold and Silver Investments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo" style="height: 60px;">
        </a>
        <div>
            <h1>Gold and Silver</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="content-section">
        <section>
            <h2>Cryptocurrencies that mimic the behavior of gold?</h2>
            <p>
                Did you know that you can crypto-tokenized buy gold and silver?
                There are tokens that are meant to mimic gold and silver prices.
                These tokens are backed by physical gold and silver, allowing you to invest in these precious metals
                     without the need for physical storage.
           
                           Buying gold and silver as crypto tokens comes with unique risks and challenges,
                           always do your own research before investing.
                           I'm neither suggesting, nor advising you to invest in these tokens,
                            but rather providing you with educational information about the capabilities that exist in the Crypto World.
            </p>
        </section>
        <section>
            <h2>Gold Exposure</h2>
            <table class="fidelity-table">
                <thead>
                    <tr>
                        <th class="fidelity-th">Token Name</th>
                        <th class="fidelity-th">Issuer</th>
                        <th class="fidelity-th">Vault Location</th>
                        <th class="fidelity-th">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="fidelity-td" style="white-space: nowrap;">
                            <a href="https://coincodex.com/crypto/pax-gold/" target="_blank">PAX Gold ($PAXG)</a>
                        </td>
                        <td class="fidelity-td">Paxos Trust Company</td>
                        <td class="fidelity-td">London</td>
                        <td class="fidelity-td">PAX Gold ($PAXG) is a cryptocurrency backed by physical gold, allowing investors to own gold digitally.</td>
                    </tr>
                    <tr>
                        <td class="fidelity-td" style="white-space: nowrap;">
                            <a href="https://coincodex.com/crypto/tether-gold/" target="_blank">Tether Gold ($XAUT)</a>
                        </td>
                        <td class="fidelity-td">Tether</td>
                        <td class="fidelity-td">Switzerland</td>
                        <td class="fidelity-td">Tether Gold ($XAUT) is a token representing ownership of physical gold stored in secure vaults.</td>
                    </tr>
                    <tr>
                        <td class="fidelity-td" style="white-space: nowrap;">
                            <a href="https://coincodex.com/crypto/kinesis-gold/" target="_blank">Kinesis Gold ($KAU)</a>
                        </td>
                        <td class="fidelity-td">Kinesis</td>
                        <td class="fidelity-td">Canada</td>
                        <td class="fidelity-td">Kinesis Gold ($KAU) is a stablecoin backed by physical gold, offering a secure way to invest in gold digitally.</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2>Silver Exposure</h2>
            <table class="fidelity-table">
                <thead>
                    <tr>
                        <th class="fidelity-th">Token Name</th>
                        <th class="fidelity-th">Issuer</th>
                        <th class="fidelity-th">Vault Location</th>
                        <th class="fidelity-th">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="fidelity-td" style="white-space: nowrap;">
                            <a href="https://coinmarketcap.com/currencies/silver-token-xagx/" target="_blank">XAGX ($XAGX)</a>
                        </td>
                        <td class="fidelity-td">unknown</td>
                        <td class="fidelity-td">unknown</td>
                        <td class="fidelity-td">
                            XAGx Silver Token is a stablecoin backed by real physical silver. Developed by NEOMO Technologies & Trading LLC, it operates on the Avalanche C-Chain blockchain network. Each XAGx Silver Token is equivalent to one ounce of silver and is indexed to the silver price displayed on the Bloomberg terminal panel.

                        </td>
                    </tr>
                    <tr>
                        <td class="fidelity-td" style="white-space: nowrap;">
                            <a href="https://coincodex.com/crypto/kinesis-silver/" target="_blank">Kinesis Silver ($KAG)</a>
                        </td>
                        <td class="fidelity-td">Kinesis</td>
                        <td class="fidelity-td">United Kingdom</td>
                        <td class="fidelity-td">KAG ($KAG) is a digital token backed by physical silver, enabling secure and efficient silver investments.</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
