<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guinea Pigs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <h1>Guinea Pigs</h1>
    </header>
    <main>
        <section>
            <h2>These are my Guinea Pigs</h2>
            <p>Discover everything about guinea pigs, their care, and more!</p>
        </section>
        <div class="card-container">
            <div class="card">
                <img src="{{ url_for('static', filename='images/pigs/pig_baba.jpg') }}" alt="Baba">
                <h3>Baba</h3>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/pigs/pig_asli.jpg') }}" alt="Asli">
                <h3>Asli</h3>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/pigs/pig_bella.jpg') }}" alt="Bella">
                <h3>Bella</h3>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/pigs/pig_engin.jpg') }}" alt="Engin">
                <h3>Engin</h3>
            </div>
            <div class="card">
                <img src="{{ url_for('static', filename='images/pigs/pig_mila.jpg') }}" alt="Mila">
                <h3>Mila</h3>
            </div>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>