<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about cryptocurrency mining and how it works. Discover the best practices and tools for mining Bitcoin, Ethereum, and other cryptocurrencies.">
    <meta name="keywords" content="crypto mining, Bitcoin mining, Ethereum mining, mining tools, mining hardware">
    <title>Mining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <div>
            <h1>Mining</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="main-container">
        <div class="content-section">
            <section>
                <h2>What is Cryptocurrency Mining?</h2>
                <p>
                    Simply put, <I>mining</I> is the process of 
                    creating new coins (that did not exist before) by running specialized software or hardware.
                    (Unlike staking or trading which is moving existing coins from one party to another).
                </p>
            </section>
            <div class="card-container">
                <div class="card" id="bitcoin-mining">
                    <a href="https://apps.apple.com/us/app/bitcoin-mining-cloud-mining/id6503180820?referralCode=LNDQXG" target="_blank">
                        <img src="{{ url_for('static', filename='images/mining/mining_bitcoinmining.webp') }}" alt="Bitcoin Mining" class="card-image">
                        <h2>Bitcoin Mining</h2>
                        <p class="card-description">
                            You can buy 2.7 Th/s for $99, and you won it forever, no subscription fees, no electricity cost involved.
                            Two years ago ROI was 6 months, meaning you would get your money back in 6 months.
                            But the hashrate of the bitcoin network itself is increasing, and so your earnings slowly decreasing even with BTC price rising.
                            Whenever you read this, and decided to use it, please open ChatGPT and ask it 
                                "How much BTC it will mine with 2.7 Th/s", and it can predict how long this thing will be giving you any money.
                            The bottom line, it will give you some money for few years only.
                            It does not work with every wallet, so you would need to get <a href="/wallets#speed-wallet">Speed Wallet.</a>
                        </p>
                    </a>
                    <div class="referral-box">
                        <div class="referral-code-box">
                            <span class="referral-code">LNDQXG</span>
                            <button class="copy-btn" onclick="copyToClipboard('LNDQXG', event)">Copy</button>
                        </div>
                    </div>
                </div>
                <div class="card" id="blockdag-x1">
                    <a href="https://apps.apple.com/us/app/blockdag-x1/id6503609082?referralCode=Lf59Y9u6" target="_blank">
                        <img src="{{ url_for('static', filename='images/mining/mining_blockdag_x1.webp') }}" alt="BlockDAG X1 Mining" class="card-image">
                        <h2>BlockDAG X1</h2>
                        <p class="card-description">
                            This is iPhone app, that gives you 100 BlockDAG ($BDAG) tokens every day. 
                            You need to open the app every 24 hours and click "Start" button.
                            With the current pre-sale price of $0.0248 and mining rate 0.83 BDAG/h, 
                                you get 20 tokens every day, which is $0.496 per day.
                            The community hopes to see BDAG price at $1 few years later, so you might be mining $20 per day, 
                                if it is not a scam, which is not guaranteed.
                            However, this is the largest pre-sale in the history of crypto, 
                                and they already collected spectacular $200+ million.
                        </p>
                    </a>
                    <div class="referral-box">
                        <div class="referral-code-box">
                            <span class="referral-code">Lf59Y9u6</span>
                            <button class="copy-btn" onclick="copyToClipboard('Lf59Y9u6', event)">Copy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
