<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about cryptocurrency mining and how it works. Discover the best practices and tools for mining Bitcoin, Ethereum, and other cryptocurrencies.">
    <meta name="keywords" content="crypto mining, Bitcoin mining, Ethereum mining, mining tools, mining hardware">
    <title>Mining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <div>
            <h1>Mining</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="main-container">
        <div class="content-section">
            <section>
                <h2>What is Cryptocurrency Mining?</h2>
                <p>
                    Cryptocurrency mining is the process of validating transactions and adding them to the blockchain ledger. Miners use powerful hardware to solve complex mathematical problems, earning rewards in the form of cryptocurrency.
                </p>
            </section>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
