<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about cryptocurrency pre-sales (ICOs) and how to participate in early-stage crypto projects.">
    <meta name="keywords" content="crypto presale, ICO, initial coin offering, early-stage crypto projects">
    <title>Pre-Sale (ICO)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <div>
            <h1>Pre-Sale (ICO)</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="main-container">
        <div class="content-section">
            <section>
                <h2>What is a Pre-Sale (ICO)?</h2>
                <p>
                    Initial Coin Offerings (ICOs) allow investors to participate in early-stage cryptocurrency projects. Learn how to identify promising ICOs and invest wisely.
                    These are the most risky investments, because they may never reach the production ready condition,
                        or when that business goes production, it may become ignored by the users, and eventually go bankruptcy.
                    Always do your own research, and expect a good percentage of these project to fail.
                </p>
                <p>

                    What is guaranteed is that it will take years before you see any profit from it. Here is a typical timeline:
                    <ul>
                        <li>1-2 years: Pre-sale during the development and testing of the project. Price changes with phases.</li>
                        <li>3-4 years: Initial launch and limited adoption. Token may appear on DEX (traded over the counter).</li>
                        <li>5+ years: Potential for significant growth and market acceptance. Token may appear on Exchanges.</li>
                    </ul>


                </p>
            </section>
            <section>
                <h2>Current ICOs</h2>
                <table class="ico-table">
                    <thead>
                        <tr class="ico-tr">
                            <th class="ico-th">Token Name</th>
                            <th class="ico-th">Business Name</th>
                            <th class="ico-th">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ico-tr">
                            <td class="ico-td">BlockDAG</td>
                            <td class="ico-td">BlockDAG</td>
                            <td class="ico-td">
                                A revolutionary blockchain technology that enhances scalability and transaction speed.
                                This project aims to solve the limitations of traditional blockchains by implementing a directed acyclic graph (DAG) structure.
                                With BlockDAG, transactions can be processed in parallel, allowing for faster confirmation times and increased throughput.
                                The network is designed to be highly decentralized, ensuring security and resilience against attacks.
                                By utilizing a unique consensus mechanism, BlockDAG achieves consensus without the need for mining, reducing energy consumption and costs.
                                The project also focuses on interoperability, enabling seamless communication between different blockchains.
                                With its innovative approach, BlockDAG aims to revolutionize the blockchain landscape and provide a scalable solution for various applications. 
                                
                                <br>You would need <a href="/wallets#metamask">Metamask Wallet</a> for purchasing this token.
                                <br><a href="https://purchase3.blockdag.network/?ref=guibablj" target="_blank">Buy BlockDAG tokens</a>


                            </td>
                        </tr>
                        <tr class="ico-tr">
                            <td class="ico-td">XYZ</td>
                            <td class="ico-td">XYZ Ltd</td>
                            <td class="ico-td">A decentralized platform for secure data sharing.</td>
                        </tr>
                        <tr class="ico-tr">
                            <td class="ico-td">DEF</td>
                            <td class="ico-td">DEF Inc</td>
                            <td class="ico-td">A cryptocurrency for peer-to-peer energy trading.</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
