<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/header_google_analytics.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn about Robinhood, a platform for trading stocks and cryptocurrencies.">
    <meta name="keywords" content="Robinhood, crypto trading, stock trading, commission-free trading">
    <title>Robinhood - Crypto Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <a href="{{ url_for('index') }}" style="text-decoration: none;">
            <img src="{{ url_for('static', filename='images/logo/logo-transparent-cropped.png') }}" alt="Logo">
        </a>
        <div>
            <h1>Robinhood</h1>
            {% include 'partials/header_navigation.html' %}
        </div>
    </header>
    <main class="main-container" style="margin: 0 20px;">
        <section>
            <h2>What is Robinhood?</h2>
            <p>
                Robinhood is a user-friendly platform that allows you to trade stocks and cryptocurrencies with no commission fees. 
                It is perfect for beginners and experienced traders alike, offering a seamless experience for managing your investments.
            </p>
            <p>
                <a href="https://join.robinhood.com/stanisp-20dbcd" target="_blank"><B>Open an account in Robinhood.</B></a>
            </p>
        </section>
        <section>
            <h2>Features</h2>
            <ul>
                <li>Commission-free trading for stocks and cryptocurrencies.</li>
                <li>Access to popular cryptocurrencies like Bitcoin, Ethereum, and Dogecoin.</li>
                <li>Unique 3% cashback credit card (for Robinhood Gold).</li>
                <li>Opportunities to invest in IPO stocks with no minimum requirement.</li>
                <li>Intuitive mobile and web applications for easy trading.</li>
            </ul>
        </section>
        <section>
            <h2>IPO (Initial Public Offering of stocks)</h2>
            <p>
                Robinhood allows you to participate in IPO without minimums (such as $100K/$500K in Fidelity).
                Here is what it looks like.
            </p>
            <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: left;">
                <p>
                    <span>Screenshot 1: Robinhood IPO interface showing available stocks for investment.</span>
                    <br><img src="{{ url_for('static', filename='images/screenshots/robinhood_ipo_s1.webp') }}" alt="IPO Example 1" style="max-width: 100%; border-radius: 8px;">
                </p>
                <p>
                    <span>Screenshot 2: Detailed view of an IPO stock with investment options.</span>
                    <br><img src="{{ url_for('static', filename='images/screenshots/robinhood_ipo_s2.webp') }}" alt="IPO Example 2" style="max-width: 100%; border-radius: 8px;">
                </p>
                <p>
                    <span>Here are stocks from recent IPOs:</span>
                    <br><img src="{{ url_for('static', filename='images/screenshots/robinhood_ipo_s3.webp') }}" alt="IPO Example 3" style="max-width: 100%; border-radius: 8px;">
                </p>
            </div>
        </section>
    </main>
    <footer>
        {% include 'partials/disclaimer.html' %}
    </footer>
</body>
</html>
